<div class="detalle">
    <h3>{{post?.titulo}}</h3>
</div>
<div class="container-fluid col-6">
    <div class="card mb-3">
        <img src={{post?.imagen}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{post?.titulo}}</h5>
            <p class="card-text">{{post?.autor}}</p>
            <p class="card-text">{{post?.texto}}</p>
            <p class="card-text"><small class="text-muted">{{post?.fecha}}</small></p>
            <hr>
            <p class="card-text">{{post?.categoria}}</p>
            <hr>
            <button type="button" class="btn btn-outline-info" [routerLink]="['/blog']">Volver</button>
            <button type="button" class="btn btn-outline-danger" (click)="eliminar(post)"
                [routerLink]="['/blog']">Eliminar</button>
        </div>
    </div>
</div>