<div class="container-fluid col-6">
    <h2>NUEVO POST</h2>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="form-group">


            <label>Título:</label>
            <!-- el formControlName es la clave que hemos declarado en el .ts -->
            <input type="text" class="form-control" formControlName="titulo">

            <p class="error" *ngIf="formulario.controls.titulo.errors?.required && formulario.controls.titulo.touched">
                El título es obligatorio.</p>
        </div>



        <div class="form-group">
            <label>Texto: </label>
            <textarea class="form-control" formControlName="texto" rows="3"></textarea>
            <p class="error" *ngIf="formulario.controls.texto.errors?.required && formulario.controls.texto.touched">El
                campo
                texto es obligatorio</p>
            <!-- Si todo lo que va antes de la ? es null, pasamos de todo -->
        </div>

        <div class="form-group">
            <label>Autor: </label>
            <input type="text" class="form-control" formControlName="autor">
            <p class="error" *ngIf="formulario.controls.autor.errors?.required && formulario.controls.autor.touched">
                El campo autor es obligatorio</p>
            <!-- Si todo lo que va antes de la ? es null, pasamos de todo -->
        </div>


        <div class="form-group">
            <label>Imágen (URL): </label>
            <input type="url" class="form-control" formControlName="imagen">
            <p class="error" *ngIf="formulario.controls.imagen.errors?.required && formulario.controls.imagen.touched">
                El
                campo imágen es obligatorio</p>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="fecha" id="exampleRadios1" value={{fecha}} checked
                formControlName="fecha">
            <label class="form-check-label" for="exampleRadios1">
                Fecha: {{ fecha | date: "d/M/y" }}
            </label>
        </div>
        <br>

        <div class="form-group">
            <label>Categoria: </label>
            <select class="form-control" formControlName="categoria">
                <option selected value="Animales">Animales</option>
                <option value="Viajes">Viajes</option>
                <option value="Tecnología">Tecnología</option>
            </select>
        </div>


        <h4 *ngIf="formularioEnviado">POST ENVIADO!</h4>
        <input type="submit" value="Enviar" class="btn btn-block btn-success" [disabled]="!formulario.valid">
    </form>
</div>